.topbar {
    width: 100%;
    height: 50px;
    background-color: white;
}

.topbarWrapper {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.App {
    background-color: #698aaf;
}
.top-right{
    display: flex;
    align-items: center;
}
.tab{
    position:relative;
    margin-right: 40px;
    
}